body {
	background: url(../images/chemlab.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
	font-family: 'Source Code Pro', 'Arial';
	margin-bottom: 150px;
}

/* Navigation Styles ============================================ */

.navbar-default {
	background-color: #C7F7E1;
}

.nav-tabs>li>a {
	color: #132B2D;
}

/* Home Page ==================================================== */



.home {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #132B2D;
}

.home h3 {
	margin-bottom: 35px;
	color: #C7F7E1;
}

/* Scores Table ================================================= */

#scores-table {
	margin-top: 15px;
	color: #C7F7E1;
	background-color: #132B2D;
}

#highScores h3 {
	color: #C7F7E1;
	text-align: center;
}

/* Quiz ========================================================= */

.inactive{
	display: none;
}

#container {
	margin-right: 12%;
	margin-left: 12%;
	color: #1A7E66;
}

.box {
	color: #C7F7E1;
	width: 75%;
	padding-bottom: 25%;
	background-color: #132B2D;
	border: 3px solid #C7F7E1;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%; 
	display:block; 
	z-index:1; 
	position: relative;
}

input {
	color: #132B2D;
}
.atomicNumber {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 25px;
	margin-left: 25px;
}

#message-box { 
	display:none; z-index:2;
}

#symbol {
	clear: both;
	font-size: 10em;
	text-align: center;
	padding-top: 10%;
}

#symbolInput {
	clear: both;
	font-size: 7em;
	text-align: center;
	margin-top: 25%;
	width: 200px;
	height: 200px;
}

.elName {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto 0 auto;
	padding: 0 15px 0 15px;
}

.weight {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}


.weight p {
	margin-top: 100px;
}

#submit {
	margin: 5px auto 0 auto;
	width: 60%;
	height: 60px;
	background-color: #D8765E;
	border: 2px solid #F2D6C6;
}

.form-group {
	text-align: center;
	font-size: 22px;
}

.modal {
	top: 35%;
	text-align: center;
}

.modal button {
	margin-top: 3%;
	margin-bottom: 3%;
}

.nameHighlight {
	border: 1px solid #D8765E;
}

#score {
	margin-left: auto;
	margin-right: auto;
	display: block;
	opacity: 1;
	clear: left;
	color: #132B2D;
	width: 100px;
	height: 50px;
}

#scoreName {
	width:80%;
}

#periodicTable {
	padding: 15px;
	margin-left: 50px;
	margin-right: 50px;
	color: #C7F7E1;
	background-color: #132B2D;
}

#periodicTable h3 {
	margin-top: 10px;
	text-align: center;
}
/* About Tab =========================================*/

#about {
	padding: 0px 50px 25px 50px;
	color: #C7F7E1;
	background-color: #132B2D;
	overflow: auto;
}


#about-table {
	margin-top: 25px;

}

#about h4 {
	margin-top: 30px;
	margin-bottom: 10px;
}

img {
	width: 100%;
	display: block;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.btn {

	background-color: #D8765E;
	border: 2px solid #F2D6C6;
}

#about-table {
    border-collapse: collapse;
}

#about-table td {
	vertical-align: middle;
	text-align: left;
	border: none;
	padding-left: 0px;
}

#about-table td a {
	color: #C7F7E1;
}

#techTable td {
	padding-left: 8px
}

.gitLogos {
	max-width: 50px;

}

#gitLogo {
	padding-left: 12px;
}
/* MEDIA QUERIES =================================== */

@media (max-width: 1020px) {
	#home {
		margin-left: 0px;
		margin-right: 0px;
	}
	.homeRight {
		margin-top: 0px;
	}
	.about {
		padding: 0 25px 25px 25px;
	}
}


@media (max-width: 870px) {
	.box {
		width: 85%;
	}
	#score {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.weight p {
		margin-top: 70px;
	}
	
}

@media (max-width: 767px) {
	#periodicTable {
		margin-left: 0px;
		margin-right: 0px;
	}

	#symbolInput {
		font-size: 4em;
		width: 200px;
		height: 200px;
	}

	.box {
		width: 92%;
	}
}

@media (max-width: 710px) {
	.box {
		width: 100%;
	}
}

@media (max-width: 640px) {
	.box {
		width: 100%;
	}
}

@media (max-width: 595px) {
	#symbolInput {
		margin-top: 25%;
		font-size: 6em;
		width: 150px;
		height: 150px;
	}
	.form-group {
		font-size: 18px;
	}
}

@media (max-width: 485px) {
	.home {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	#symbol {
		font-size: 2em;
		padding-top: 20%;
	}
	#symbolInput {
		font-size: 2em;
		width: 150px;
		height: 150px;
	}

	.weight p {
		margin-top: 45px;
	}
	.box {
		padding-bottom: 50%;
		margin-left: -15px;
		width: 110%;
	}
	
	#about-table {
		font-size: 12px;
	}
	.gitLogos {
		padding-left: 0px;
		padding-right: 0px;
	}
	.gitLogos .img-responsive {
		width: 40%;
		margin-left: 0px;
	}
}

