
		<div class="table-responsive">
			<table class="table table-bordered .table-condensed">
				
				<thead>
					<tr>
						<th>Atomic Number</th>
						<th>Element Name</th>
						<th>Element ID</th>
						<th>Atomic Weight></th>
					</tr>
				</thead>		

				{{#collection tag='tbody'}}
					<tr>
						<td>{{atomicNumber}}</td>
						<td>{{name}}</td>
						<td>{{symbol}}</td>
						<td>{{atomicWeight}}</td>
					</tr>
				{{/collection}}
						
			</table>
		</div>
