
		<div class="table-responsive">
			<table class="table table-bordered .table-condensed">
				<h3>Periodic Table</h3>
				<thead>
					<tr>
						<th class="col-xs-1">Atomic Number</th>
						<th class="col-xs-2">Element Name</th>
						<th class="col-xs-2">Element Symbol</th>
						<th class="col-xs-2">Atomic Weight</th>
					</tr>
				</thead>		

				{{#collection tag='tbody'}}
					<tr>
						<td class="col-xs-1">{{atomicNumber}}</td>
						<td class="col-xs-2">{{name}}</td>
						<td class="col-xs-2">{{symbol}}</td>
						<td class="col-xs-2">{{atomicWeight}}</td>
					</tr>
				{{/collection}}
						
			</table>
		</div>
