<div class="panel panel-default container">
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Atomic Number</th>
					<th>Element Name</th>
					<th>Element ID</th>
					<th>Atomic Weight></th>
				</tr>
			</thead>

			<tbody>
			{{#each dataPoints}}
				<tr>
					<td>{{atomicNumber}}</td>
					<td>{{elementName}}</td>
					<td>{{elementID}}</td>
					<td>{{atomicNumber}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>